<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="100" alt="Angular Logo" src="https://coopervision.com/sites/coopervision.com/files/calculator-icon.png?timestamp=1477934404">
  <h1>      
    Welcome to {{ title }}!    
  </h1> 
  </div>

<div id="#triangle-topleft"></div>
<div class="operant">
  <input type="number" [value]="operant1" (input)="onOperant1($event)">
  <p>+</p>
  <input type="number" [value]="operant2" (input)="onOperant2($event)"><br><br>
  <button type="button" (click)="onPlus()">
    Ответ
  </button>
  <div>  
    <p [hidden]="!errorInput" class="errorInput">Заполните оба поля ввода!!!</p>
    <p [hidden]="resultInvisible">
      Результат ( {{ operant1 }} + {{ operant2 }} = {{ result }} )
    </p>
  </div>        
</div>